{
  "env": {
    "test": {
      "presets": ["@babel/preset-env"]
    },
    "build": {
      "presets": [
        [
          "@babel/preset-env",
          {
            "targets": {
              "browsers": ["defaults"]
            },
            "modules": false,
            "useBuiltIns": "usage",
            "corejs": "3.2"
          }
        ]
      ]
    }
  }
}
